html {background-color:#6C8CD5;}

body {padding:15px 30px 30px 30px; background-color: white; font-family:"helvetica"; line-height:1.5; margin: 0 auto; width:700px; }

ul { list-style-image: url("../checklist.gif") }