body
{
background-color:#6F81D6;
}

a:link {color:red;}
a:hover {color:orange;}

li {margin-bottom:15px;  list-style-image: url("mazda.png");}

#wraper {
	
	border-radius: 7px;
	padding:15px 30px 30px 30px; background-color: white; font-family:"helvetica"; line-height:1.5; margin: 0 auto; width:780px; margin-top:40px;
	
	}
	
#small {

	margin-top:25px;
	font-size:12px;

}

img {

	padding:15px;

}
