*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body {
	background: #036;
	color: #fff;
	font: 1em/1.5em "Trebuchet MS", Arial, sans-serif;
	text-align: center;  /* IE fix */
}

#wrapper {
	background: #000;
	width: 760px;
	margin: 0 auto;
	border: 1px solid #fff;
	text-align: left;
}

#header { background: url(../media/header.jpg) no-repeat center;
	height: 150px;
	border-bottom: 1px solid #fff; }

/*    Navigation    */
#navigation { background: #06C; text-align: right; }
	#navigation ul { margin: 0; }
	#navigation li { display: inline; padding: 0 20px; }

a { color: #9BF; text-decoration: none; }
	a:hover { color: #FFF; }
	
#active { color: #FFF; border-bottom: 1px solid #FFF; }

#content { padding-top: 25px; }

/*    Gallery     */	
#gallery { width: 690px; margin: 0 35px;}
	#gallery p {padding: 10px 0px 15px 0px; }
	#gallery img {margin: 0 0 0 195px; }
	#gallery p.title{ text-align:right; padding: 0 210px 10px 0;}	
	
/*    Video     */
#vid_content{ width: 640px; float: left;
	padding: 0 0 0 65px; }
	#vid_content p {padding: 25px 0 0 15px; }
	
#video { padding: 9px 0 0 0; }

	

/*     About      */

#about { width: 300px; float: left;
	padding: 0 35px; }
	#about h1 { padding: 0 0 10px 0; margin: 0; }

#about_img { width: 300px; float: left; }


/*      Footer      */
#footer { clear: both; padding: 40px 15px 30px; 
	text-align: right; }
	#footer p { margin: 0; }
