@charset "UTF-8";
/* CSS Document */

body {
	margin:0;	
	background-color:#009fe1;
}

#container {

	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #777777;
	width: 650px;
	margin: 0 auto;
	padding: 0 20px;
	background-image:url("img/bg_wrapper.jpg");
	background-repeat:repeat-y;

}

#header {

	background-image:url("img/bg_header.jpg");
	background-repeat:no-repeat;
	height:130px;
	
}

#header h1 {

	text-indent:-9999px;	
	padding:0;
	margin:0;
	
}

#navigation {

	font-weight:bold;
	font-size:130%;
	margin:0;
	padding:10px 20px;
	background-image:url("img/bg_nav.jpg");
	background-position:top left;
	background-repeat:repeat-x;
	
}

#navigation li {

	display:inline;
	padding-right:2em;
	list-style-type:none;
	font-size:80%;
	
}

#navigation ul {

	padding:0;
	margin:0;
	
}

#navigation a {

	color: #FFFFFF;
	text-decoration:none;	
	
}

#navigation a:hover {
	
	border-bottom:solid 1px #999999;
	
}

#main {

	padding: 35px 20px 0px 20px;	
	
}

#main h2 {

	color: #00a1e4;	
	
}

#content {
	
	padding: 0 10px;
	width:350px;
	float:right;

}

#content h2 {
	
	font-size:155%;
	margin:0;
	padding:0;
	
}

#support {
	
	width:220px;
	float:left;
	background:url("img/divider.jpg") no-repeat top right;
	
	
}

#support ul {

	margin:0;
	padding:0;	
	
}

#support li {

	list-style-type:none;
	padding-bottom:20px;	
	
}

#support img {

	border:solid 1px #666666;
	
}

#footer {
	
	clear:both;
	text-align:right;
	color:#9a9a9a;
	padding:15px;	
	
}